*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* мой код */
/* скрытый элемент */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Скрываем scrollbar для Chrome, Safari и Opera */
.content__list::-webkit-scrollbar {
  display: none;
}
/* Скрываем scrollbar для IE, Edge и Firefox */
.content__list {
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none; /* Firefox */
}

.content {
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  width: 1140px;
  gap: 0 30px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.content__list {
  height: 298px;
  overflow: auto;
  margin-top: 26px;
}

.content__details {
  flex: 1;
  min-width: 0;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content__list-item:not(:last-child) {
  margin-bottom: 16px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex: 1;
  min-width: 0;
}

.content__list,
.result__video-container {
  position: relative;
}

/* step 4 */
.title {
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  line-height: 0.94;
}

.content__accent {
  color: #545050;
}

.content__video-card-title {
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  font-size: 30px;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 0.9;
  color: #fff;
  text-decoration: none;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__card-link_current .content__video-card {
  background-color: #545050;
}

.search-form__fieldset-title {
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 5px;
}

.search-form__fieldset {
  width: fit-content;
  border: none;
}

.search-form__textfield {
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  appearance: none;
  background: none;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  padding: 2px 0;
}

.search-form__pseudo-checkbox,
.search-form__label-text,
.button {
  cursor: pointer;
}

.button {
  background: none;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  border: 1px solid #fff;
  height: 34px;
  padding: 0;
}

.search-form__submit-button {
  width: 194px;
}

.more-button {
  width: 100%;
}

.button:active {
  background-color: #545050;
}
.button:hover,
.search-form__label-text:hover {
  text-decoration: underline;
}

.search-form__label {
  display: flex;
  gap: 5px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  width: 19px;
  height: 19px;
  background: none;
  border: 1px solid #fff;
  justify-content: center;
  align-items: center;
}
