*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* мой код */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.content {
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  width: 1140px;
  gap: 0 30px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__list {
  height: 298px;
  overflow: auto;
  margin-top: 26px;
}

.content__details {
  flex: 1;
  min-width: 0;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content__list-item:not(:last-child) {
  margin-bottom: 16px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex: 1;
  min-width: 0;
}

.content__list,
.result__video-container {
  position: relative;
}

/* step 4 */
.title {
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  line-height: 0.94;
}

.content__accent {
  color: #545050;
}

.content__video-card-title {
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  font-size: 30px;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 0.9;
  color: #fff;
  text-decoration: none;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__card-link_current .content__video-card {
  background-color: #545050;
}

.search-form__fieldset-title {
  font-size: 18px;
  line-height: 22px;
}
